<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatherly | Page Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        body {
            background-color: #111B21;
            font-family: 'Segoe UI', sans-serif;
            color: #E5E7EB;
        }
    </style>
</head>

<body class="flex items-center justify-center min-h-screen">
    <section class="text-center px-6">
        <h1 class="text-7xl font-bold text-gray-100 mb-4">404</h1>
        <p class="text-2xl font-semibold text-gray-100 mb-2">Page Not Found!</p>
        <p class="text-lg text-gray-400 mb-6">Sorry, we can't find that page. You'll find lots to explore on the home page.</p>
        <a href="/login" class="bg-[#007E6D] text-black font-semibold py-3 px-8 rounded-lg ">Back to Homepage</a>
    </section>
</body>

</html>
