<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatherly | Please Login to Your Account</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        body {
            background-color: #1f2937;
            font-family: 'Segoe UI', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-900 min-h-screen flex justify-center items-center">
    <div class="max-w-md w-full p-6 bg-gray-800 rounded-lg shadow-lg transition-transform transform hover:scale-105">
        <h1 class="text-3xl font-bold text-white text-center mb-4">Access Denied</h1>
        <p class="text-lg text-gray-300 text-center mb-6">Sorry, you didn't log in. Please log in to access the resources.</p>
        <div class="flex justify-center">
            <a href="/login" class="bg-[#007E6D] text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-50">
                Log In
            </a>
        </div>
    </div>
</body>

</html>
